certifi==2024.6.2
numpy==1.21.6
opencv-python==4.6.0
packaging==23.2
pip==22.3.1
ply==3.11
PyQt5==5.15.7
PyQt5-sip==12.11.0
setuptools==65.6.3
sip==6.7.2
toml==0.10.2
torch==1.11.0
typing_extensions==4.7.1
wheel==0.38.4
wincertstore==0.2
